{% extends 'apps/include_base/base.html' %}
{% block body %}
    {% for product in products %}
        <div class="mb-4 col-md-6 col-lg-4" 1>
            <div class="border rounded-1 h-100 d-flex flex-column justify-content-between pb-3">
                <div class="overflow-hidden">
                    <div class="position-relative rounded-top overflow-hidden"><a class="d-block"
                                                                                  href="../../../app/e-commerce/product/product-details.html"><img
                            class="img-fluid rounded-top" src="{{ product.image.url }}" alt=""/></a>
                    </div>
                    <div class="p-3">
                        <h5 class="fs-0"><a class="text-dark"
                                            href="#">{{ product.name }}</a>
                        </h5>
                        <p class="fs--1 mb-3"><a class="text-500" href="#!">{{ product.category.name }}</a></p>
                        <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-3"> ${{ product.price }}</h5>

                    </div>
                </div>
                <div class="d-flex flex-between-center px-3">
                    <div><a class="btn btn-sm btn-falcon-default me-2" href="#!" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Add to Wish List"><span class="far fa-heart"></span></a><a
                            class="btn btn-sm btn-falcon-default" href="#!" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Add to Cart"><span class="fas fa-cart-plus"></span></a></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}